attrs==20.3.0
branca==0.4.1
Brotli==1.0.9
brotlipy==0.7.0
certifi==2020.11.8
cffi==1.14.3
chardet==3.0.4
click==7.1.2
click-plugins==1.1.1
cligj==0.7.0
conda==4.9.2
conda-package-handling==1.7.2
cryptography==3.2.1
cycler==0.10.0
dash==1.17.0
dash-bootstrap-components==0.10.7
dash-core-components==1.3.1
dash-html-components==1.0.1
dash-renderer==1.1.2
dash-table==4.4.1
decorator==4.4.2
descartes==1.1.0
Fiona==1.8.4
Flask==1.1.2
Flask-Compress==1.8.0
folium==0.11.0
future==0.18.2
GDAL==2.3.3
geopandas==0.8.1
idna==2.10
itsdangerous==1.1.0
Jinja2==2.11.2
joblib==0.17.0
kiwisolver==1.3.0
MarkupSafe==1.1.1
matplotlib==3.3.2
mkl-fft==1.2.0
mkl-random==1.1.1
mkl-service==2.3.0
munch==2.5.0
networkx==2.5
numpy==1.19.2
olefile==0.46
osmnx==0.16.1
pandas==1.1.3
Pillow==8.0.1
pip==20.2.4
plotly==4.12.0
psutil==5.7.3
pycosat==0.6.3
pycparser==2.20
pyOpenSSL==19.1.0
pyparsing==2.4.7
pyproj==3.0.0.post1
PySocks==1.7.1
python-dateutil==2.8.1
pytz==2020.1
PyYAML==5.3.1
requests==2.25.0
retrying==1.3.3
Rtree==0.9.4
ruamel-yaml==0.15.87
scikit-learn==0.23.2
scipy==1.5.2
setuptools==50.3.1.post20201107
Shapely==1.7.1
six==1.15.0
threadpoolctl==2.1.0
tornado==6.1
tqdm==4.51.0
urllib3==1.25.11
Werkzeug==1.0.1
wheel==0.35.1
